*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background:rgb(110, 193, 228,0.5);
  height: 100vh;
}

.navBars{
  display: flex;
  height: 12vh;
  justify-content: start;
  align-items: center;
}
.logo{
  margin: 0;
  padding: 0;
}
.center-item ul{
 display: flex;
 list-style: none;
 margin-left: 50px;
 margin-top: 10px;

}

.center-item ul li{
  color: #1D536C;
  padding: 0px 20px;
  font-size: 16px;
  
  
}